.jumbotron{
  background-color: #999966;
  color: black;

  font-family: fantasy;
}
#press{
  background-color: #333333
  font: white;
}
#hold1,#hold2{
  background-color: #c2c2a3;
}
#b1,#b2{
  background-color:  #2f2f1e;
  color: #000000
}
